body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}



.brand {
  color: #f4511e;
  font-size: 1.1rem;
  font-weight: bolder;
  margin-top: 0;
  cursor: default;
}

.basic-text {
  color: #141c24;
  font-size: 1.25rem;
}

.navbar {
  padding: 2rem 0rem;
}

.pizzas-div {
  margin: 0 auto;
  margin-left: 15rem;
  margin-right: 15rem;
}



.pizza-title {
  font-size: 2rem;
  font-weight: 600;
  color: #141c24;
  margin-bottom: 0.5rem;
}

.pizza-desc {
  font-size: large;
  color: #344051;
}

.pizza-price {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.pizza-button {
  padding: 1rem 32px; 
  border: none;
  border-radius: 15px;
  background-color: #f4511e;
  color: white;
  font-size: 18px;
  transition: 0.5s;
  width: 100%;
  cursor:pointer;
}

.pizza-button:hover {
  background-color: #e64a19;
}
